<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="container-fluid">
        <br>
        <div class="">
            <legend>form</legend>
            <form action="/saveForm" method="POST" class="card">
                <input type="text" name="nome" placeholder="usuario">
                <input type="password" name="senha" placeholder="password">
                <textarea name="" id="" cols="5" rows="5"></textarea>
                <fieldset class="">
                    <legend>select user type</legend>
                    <input type="radio" name="tipo" value="Admin"> Admin
                    <input type="radio" name="tipo" value="User"> User
                </fieldset>
                <br>
                <fieldset>
                    <legend>state select</legend>
                    <select class="btn btn-success" name="Eestado">
                        <option value="AC">Acre</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="RJ">Rio de Janeiro</option>
                    </select>
                </fieldset>
                <br>
                <fieldset>
                    <button class="btn btn-success">Include</button>
                    <input type="hidden" name="escondido">
                </fieldset>
            </form>
        </div>
        <hr>
        <br>
        <br>

        <form action="/saveForm" method="POST">
            <legend>Calcular Temperatura</legend>
            <input type="number" name="entrada" placeholder="Diginte a Temperatura">
            <button class="btn btn-warning">confirmar</button>
        </form>
        <hr>
        <form>
            <fieldset>
                <legend>Fruit juice size</legend>
                <p>
                    <input type="radio" name="size" id="size_1" value="small" />
                    <label for="size_1">Small</label>
                </p>
                <p>
                    <input type="radio" name="size" id="size_2" value="medium" />
                    <label for="size_2">Medium</label>
                </p>
                <p>
                    <input type="radio" name="size" id="size_3" value="large" />
                    <label for="size_3">Large</label>
                </p>
            </fieldset>
            <hr>
        </form>
        <section>
            <h2>Contact information</h2>
            <fieldset>
                <legend>Title</legend>
                <ul>
                    <li>
                        <label for="title_1">
                            <input type="radio" id="title_1" name="title" value="M.">
                            Mister
                        </label>
                    </li>
                    <li>
                        <label for="title_2">
                            <input type="radio" id="title_2" name="title" value="Ms.">
                            Miss
                        </label>
                    </li>
                </ul>
            </fieldset>
            <p>
                <label for="name">
                    <span>Name: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="text" id="name" name="username">
            </p>
            <p>
                <label for="mail">
                    <span>E-mail: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="email" id="mail" name="usermail">
            </p>
            <p>
                <label for="pwd">
                    <span>Password: </span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="password" id="pwd" name="password">
            </p>
        </section>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>